
:root{
    --primary:#669BF5;
    --secondary:#0075FF;
    --black:#222;
    --white:#fff;
    --lightblue:#F6F8FA;
    --off-white:rgb(241, 241, 241);
    --hr-border:rgba(34, 34, 34, 0.173);
    --another-off-white:#EDF0F5;
}

/* DEFAULT STYLES */
body{
    
font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: -.05em;
    font-size: 16px;
    overflow-x: hidden;
    color: var(--black);
}
body.rtl{
    direction: rtl;
    font-family: 'Arial';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    /* font-family: 'playfair display',arial; */
    font-family: 'Merriweather', serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
    outline: none;
}
a,button{
    cursor: pointer;
    text-decoration: none;
}
a,button{
    background-color: var(--black);
    border-radius: 0.2em;
    color: var(--off-white);
    border: 0;
    padding: 0.5em 0.85em;
}
table{
    border-collapse: collapse;
    border-spacing: 2px;
}
/* HEADER */
header{
    min-height: 5vh;
    background-color: rgb(246, 248, 250);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 900;
}
nav{
    flex:1;
    padding: .5em 0;
    display: flex;
    max-width: 1330px;
    margin: auto;
}
nav span{
    margin-right: auto;
    font-size: 2em;
    color: var(--primary);
}
ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
ul li{
list-style: none;
transition: 0.1s;
}
ul li:hover{
    color: var(--primary);
    list-style: none;
}
.flag{
    width: 30px;
    cursor: pointer;
    -webkit-transition : -webkit-filter .2s
}
.flag:hover{
    filter: drop-shadow(0px 3px 6px var(--primary));
}

/* BOOKS SECTION */
.books-section{
    position: relative;
    min-height: 90vh;
    background: var(--white);
    max-width: 1330px;
    margin: auto;
    padding: 2.5em 0;
}
.page-title{
    margin-bottom: -.2em;
    font-size: 3em;
    font-weight: 700;
}
.page-subtitle{
    margin-bottom: .2em;
    font-style: italic;
    font-weight: 700;
    color: #999;
}
.book-filters{
    border-top: 1px solid var(--hr-border);
    border-bottom: 1px solid var(--hr-border);
}
.pages-btns{
    display: flex;
    gap: 5px;
}
.idx-btns {
    display: inline-block;
}
.page-idx-btn{
    background-color: var(--another-off-white);
    color: var(--black);
}
.page-idx-btn.active{
    background-color: var(--secondary);
    color: var(--another-off-white);
}
.btns-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}
.btns-wrapper button{transition: 0.2s background-color,0.2s color;}
.btns-wrapper button:hover{
    background-color: var(--secondary);
    color: var(--another-off-white);
}

table{
    width: 100%;
}
tbody tr{transition: background-color 0.1s;}
tbody tr:hover{background-color: var(--lightblue);}

thead td{
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 700;
}
tbody td{
    padding: 0.5em;
}

/* fixing table designs */
.book-img{
    max-width:120px;
}
@media screen and (max-width:800px) {
    .book-img{
        max-width: 90px;
    }
}
.book-price{
    text-align: center;
    font-weight: 800;
    font-size: 1.25em;
    width: 100px;
}
.book-title{
    /* font-family: 'playfair display',arial; */
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    font-weight: 600;
    width: 300px;
}
@media screen and (max-width:800px) {
    .book-title{
        font-size: 1em;
    }
    .book-price{
        font-size: 1em;
        font-size: 1em;
        font-weight:800;
    }
}
.book-actions{
    text-align: end;
}
.book-img-td{
    width: 200px;
}
table tr{
    border-top:1px solid rgba(34, 34, 34, 0.171);
}

.read-btn{
    background-color: var(--secondary);
}

.update-btn{
    background-color: #40a11a;
}

.delete-btn{
    background-color: #df1919;
}

/* Books media */

@media screen and (max-width:1335px){
    .books-section{
        padding: 2.5em;
    }
}
@media screen and (max-width:900px){
    .books-section{
        padding: 1.5em;
    }
}

/* MODAL */
.modal-wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    margin: auto;
    max-width: 80%;
    transition: right 0.4s;
}
.modal-img{
    max-height: 300px;
}
.modal-wrapper.open{
    right: 0;
}
.modal{
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    gap: 1em;
    border-radius: 1em 0 0 1em;
    box-shadow: 10px 0px 30px -10px black;
}
.modal input{
    height: 100%;
    max-width: 40px;
    border: none;
    background-color: var(--another-off-white);
    color: var(--black);
    text-align: center;
    font-weight: 600;
}
button[data-rate="minus"]{
    margin-left: 0.25em;
}
.plus-minus{
    font-weight: 500;
    min-width:30px ;
}
.close-modal-btn{
    position: absolute;
    top: 1em;
    right: 1em;
}

.book-filters{
    /* font-family: 'playfair display',arial; */
    font-family: 'Merriweather', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 4em;
    padding: 1em 0;
    margin: 2em 0 0 0;
    background-color: var(--white);
}
.book-filters h2{
    border-radius: .2em;
background-color: var(--another-off-white);
padding: 0.25em 0.5em;
}
.book-filters input{
    /* margin-left: .2em; */
    /* vertical-align: middle; */
}
.filters-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.book-filters label[for="minrate"],
.book-filters label[for="maxprice"]{
    flex-basis: 33%;
}
input[type="range"] {
    width: 100%;
}
.book-filters input[type="text"]{
    /* font-family: 'playfair display',arial; */
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 1em;
text-align: center;
border: none;
height: 100%;
width: 100%;
border-radius: .2em;
background-color: var(--another-off-white);
padding: 0.5em;
outline: none;

}
.book-filters input{position: relative;}

.book-filters input:after{
    content: attr(data-content);
    position: absolute;
    top: -150%;
    right: 0%;
    transform: translate(25%);
    margin: auto;
    background-color: var(--secondary);
    color: white;
    padding: 0.25em 0.5em;
    text-align: center;
    border-radius: .25em;
    opacity: 0;
    transition: 0.3s;
}
.book-filters:hover input:after{
    opacity: 1;
}

@media screen and (max-width:1000px) {
    .book-filters{
        gap: 1em;
        flex-wrap: wrap;
    }
    .book-filters h2{
        flex-basis: 100%;
        text-align: center;
    }
    .book-filters h2 span,
    .book-filters h2 i{
        font-size: .75em;
    }
}

.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}

.books-grid{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3em;
}
.grid-item{
    /* flex-basis: calc(33% - 2em); */
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    border-radius: .6em;
    transition: 0.2s all;
    box-shadow: 0px 10px 30px -10px lightgray;
}
.grid-item:hover{
    background-color: var(--lightblue);
    box-shadow: 0px 10px 40px 0px lightgray;
}
.grid-item img{
    width: 100%;
}
.book-grid-content{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 1em;
}

.view-mode-btn-g,.view-mode-btn-l{
    background-color: var(--lightblue);
    color: var(--black);
}

.view-mode-btn-g{
    margin-left: auto;
    margin-right: 0.5em;
}
.view-mode-btn-l{
    margin-right: auto;
}

.actions-btns-grid{
margin-top: auto;
}

.view-mode-btn.active{
    background-color: var(--secondary);
    color: var(--lightblue);
}

.loader-overlay,.loader-intro{
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;   
    transition: .35s all ease-in;
}
.loader-overlay{
    transition: 0.25s all;
    opacity: 0;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.alpha-in{
    opacity: 1;
}
.alpha-out{
    opacity: 0;
}